body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f2f4;
}

header {
  background-color: #ffffff;
  color: #fff;
  padding: 0.5rem 0;
}

.header_logo img {
  max-width: 20% ;
  margin-left: 1.5rem;
  margin-top: 0.1rem;
}

.search {
  background-color: #f0f5ff;
  border: none;
}

input:focus {
  outline: none;
}

.header_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.header_search input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  color: #f0f5ff;
}

.header_search button {
  padding: 0.5rem 1rem;
  background-color: #ff9f00;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.header_nav ul li button {
  padding: 0.6rem 1.2rem;
  background-color: #2a55e5;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.header_nav ul {
  display: grid;
  grid-template-columns: repeat(2, 6.25rem);
  list-style-type: none;
  margin: 0;
  padding: 0;
  place-items: center;
  place-content: center;
}

.header_nav li {
  margin-right: 1.25rem;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: #ffffff;
  justify-content: center;
  place-content: center;
  place-items: center;
  margin: 0 auto;
  width: 95%;
  gap: 0.3125rem;
  height: 7rem;
}

.items {
  margin-top: 0.6rem;
  display: grid;
  align-items: center;
}

.breaker {
  margin-top: 1.25rem;
}

a {
  width: 0.625rem;
  height: 1.25rem;
}

.mid-banner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.625rem;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 28rem;
}

.discount-banner {
 margin-left: 3rem;
}
.discount-banner img {
  max-width: 100%;
  margin-left: 0.625rem ;
}

.lower-banner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  place-content: center;
  place-items: center;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
  background-color: #ffffff;
  height: 90%;
}

.lower-banner-heading {
  grid-column-start: 1;
  grid-column-end: 7;
}

.lower-banner-ad {
  border: 0 solid #e0e0e0;
  padding: 10px;
  border-width: 1px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 11.25rem;
  height: 13.75rem;
}

.lower-banner-ad img {
  width: 160px;
  height: 11.25rem;
}

footer {
  background-color: #212121;
  color: #5f6d6d;
  padding: 0.5rem 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  max-width: 75rem;
  margin: 0 auto;
}

.footer-section h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1.25rem;
  color: #7a8787;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.625rem;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
  color: #fff;
}


@media screen and (max-width: 480px){
  .header_wrapper {
    display: flex;
    flex-direction: column;
  }
  .header_logo{
    display: flex;
    justify-content: center;
    width: 500px;
  }
  .header_search  {
    display: flex;
    width:90%;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .header_search button {
    display: flex;

    width:40%;
    margin-left: 2rem;
  }
  .header_nav ul {
    display: flex;
    
    width: 100%;
    margin: 0;
  }
  .header_nav ul li button {
    width: 100%;
  }
  .breaker {
    margin-top: 2rem;
  }
  .item-list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 100%;
    height: 100%;
    
  }
  
  .items {
    margin-top: 0.6rem;
    display: grid;
    
  }
  
  .mid-banner {
    grid-template-columns: 1fr;
    margin-left: 0.2rem;
  }
  .logo {
    width: 90%;
  }
  .discount-banner {
    margin-left: 1rem;
  }
  .lower-banner {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 100%;
    height: 100%;
    
  }
  .lower-banner-heading {
    grid-column-start:1;
    grid-column-end: 4;
  }
  .lower-banner-ad {
    grid-template-columns: fr;
  }
  .footer-container {
    grid-template-columns: fr;
  }
  .footer-section h4 {
    margin-bottom: 0.625rem;
  }
  .footer-bottom {
    margin-top: 0.625rem;
  }
  
}
@media screen and (min-width=768px){
  .header_wrapper {
    grid-template-columns: 1fr;
  }
  .header_search input {
    width: 100%;
  }
  .header_search button {
    width: 100%;
  }
  .header_nav ul {
    grid-template-columns: 1fr;
  }
  .header_nav ul li button {
    width: 100%;
  }
  .item-list {
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
  }
  .items {
    margin-top: 0;
  }
  .mid-banner {
    grid-template-columns: 1fr;
  }
  .logo {
    width: 100%;
  }
  .discount-banner {
    margin-left: 0;
  }
  .lower-banner {
    grid-template-columns: repeat(10,2fr);
    width: 100%;
    justify-content: cente;
  }
  .lower-banner-heading {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .lower-banner-ad {
    width: 100%;
  }

 
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-section h4 {
    margin-bottom: 0.625rem;
  }
  .footer-bottom {
    margin-top: 0.625rem;
  }
  
}
@media screen and (orientation:portrait){
  .header_wrapper {
    grid-template-columns: 1fr;
  }
  .header_search input {
    width: 100%;
  }
  .header_search button {
    width: 100%;
  }
  .header_nav ul {
    grid-template-columns: 1fr;
  }
  .header_nav ul li button {
    width: 100%;
  }
  .item-list {
    
    width: 100%;
  }
  .items {
    margin-top: 0;
  }
  .mid-banner {
    grid-template-columns: 1fr;
  }
  .logo {
    width: 100%;
  }
  .discount-banner {
    margin-left: 0;
  }
  .lower-banner {
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    justify-content: center;
  }

  .lower-banner-heading {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .lower-banner-ad {
    width: 100%;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-section h4 {
    margin-bottom: 0.625rem;
  }
  .footer-bottom {
    margin-top: 0.625rem;
  }
}
@media screen and (aspect-ratio:16/9){
  .header_wrapper {
    grid-template-columns: 1fr;
  }
  .header_search input {
    width: 100%;
  }
  .header_search button {
    width: 100%;
  }
  .header_nav ul {
    grid-template-columns: 1fr;
  }
  .header_nav ul li button {
    width: 100%;
  }
  .item-list {
    
    width: 100%;
  }
  .items {
    margin-top: 0;
  }
  .mid-banner {
    grid-template-columns: 1fr;
  }
  .logo {
    width: 100%;
  }
  .discount-banner {
    margin-left: 0;
  }
  .lower-banner {
   
    width: 100%;
  }
  .lower-banner-heading {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .lower-banner-ad {
    width: 100%;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-section h4 {
    margin-bottom: 0.625rem;
  }
  .footer-bottom {
    margin-top: 0.625rem;
  }
  
}
